<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.one.chaplin.usapplication">
<uses-sdk

    android:targetSdkVersion="17"
    />

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Lannister"></activity>
        <activity android:name=".Lan"></activity>
        <activity android:name=".Lanhero"></activity>
        <activity android:name=".Stark"></activity>
        <activity android:name=".Star"></activity>
        <activity android:name=".Starhero"></activity>
        <activity android:name=".Targareyan"></activity>
        <activity android:name=".Tar"></activity>
        <activity android:name=".Tarhero"></activity>
    </application>

</manifest>